<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Chaos.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Chaos.highScores" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Chaos.Properties.Settings>
            <setting name="highScore1" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="names" serializeAs="String">
                <value>ShapeMaster_TimeGuy_Jukes_</value>
            </setting>
            <setting name="highScore2" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="highScore3" serializeAs="String">
                <value>2</value>
            </setting>
        </Chaos.Properties.Settings>
        <Chaos.highScores>
            <setting name="name1" serializeAs="String">
                <value>TimeFreezer</value>
            </setting>
            <setting name="score1" serializeAs="String">
                <value>5000</value>
            </setting>
        </Chaos.highScores>
    </userSettings>
</configuration>